# Don't send these to Docker build context
# Smaller context = faster builds

target/
.git/
.gitignore
.idea/
*.iml
*.iws
.vscode/
*.md
docker-compose*.yml
.env
.env.*
*.log
logs/

src/main/resources/application-local.yml